@layer reset, global, main, component, states;

@import url("reset.css") layer(reset);
@import url("global.css") layer(global);
@import url("component.css") layer(component);
@import url("./states.css") layer(states);

html {
  font-family: monospace;
}
body {
  display: grid;
  background-color: var(--bg-col);
}
main {
  display: grid;
  grid: auto 1fr / [page-start] 1fr [content] minmax(0, var(--content)) [page-second] 1fr [page-end];
  & > * {
    grid-column: content;
  }
  & .full {
    grid-column: page;
  }
}
